<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TeachAway"  thread-count="0" parallel="false" >

	
            
	   
	
	 
  <test name="Login"   >
   
	 <classes  >
	  <class name="megaMenu.Menu" />
	  <class name="registration.CorrectRegister"/>
	 <class name="loginFeature.CorrectLogin" />
            <class name="loginFeature.IncorrectPassword" />
            <class name="loginFeature.IncorrectEmail" />
	   
	 </classes>
  
  
   
   
   </test>
   
  
</suite> <!-- Suite -->
